@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
 background: url(https://images.unsplash.com/photo-1526539266122-bda94251d2e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    
  color: #333;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Bruno Ace SC';
}

body.dark {
background: url(https://images.unsplash.com/photo-1500400870657-bfbb1c273f08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80);
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #000;
}

.title {
  color: #000;
  transition: color 0.3s ease;
}

body.dark .title {
  color: #fff;
}

h1 {
  font-size: 2rem;
  color: #000;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  top: -6rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dd5d5d;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#lightbulb {
  width:200px;
  margin-top: 10px;
  position:absolute;
  bottom:8rem;
  left:0;
  right:0;
  text-align:center;
  margin:0 auto;
  
}

body.dark #lightbulb {
  background:yellow;
  filter: saturate(200%) hue-rotate(40deg);
}

